{% extends "layout.html" %}
{% block train_query %}
    <form action="/map">
    
    <p><b>{{start_station_db_name}} - {{destination_station_db_name}}</b> <br>Found {{number_of_train_routes}} possible routes</p>
    <table class="_width100">
        <thead>
            <tr>
            <th>Depature</th>
            <th>Arrival</th>
            <th>Duration</th>
            <th>Changes</th>
            <th>Products</th>
            <th></th>
            </tr>
        </thead>
        <tbody>
        {% for journey in train_routes %}
            <tr>
            <td>{{journey.start_station().time()}}</td>
            <td>{{journey.end_station().time()}}</td>
            <td>{{journey.duration()}}</td>
            <td>{{journey.changes()}}</td>
            <td>{{journey.products()}}</td>
            <td>
                <a class="button _primary" href="/map?start={{start_station_name}}&dest={{destination_station_name}}&num={{loop.index}}">Visualize</a>
            </td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
    <a class="button" href="/">Try again</a>
    </form>
{% endblock %}
