{% extends "layout.html" %}
{% block train_query %}
    <form action="/routes">
        <input  type="hidden" name="start" value="{{user_start_station_name}}">
        <input type="hidden" name="dest" value="{{user_destination_station_name}}">
        <p>Found these train stations</p>
        <ul>
            <li>Start: <b>{{start_station_name}}</b></li>
            <li>Destination: <b>{{destination_station_name}}</b></li>
        </ul>
        <a class="button" href="/">Try again</a>
    <button class=" _primary" type="submit" value="Submit">Continue</button>
    </form>
{% endblock %}
      
    
 
